<div class="container">
	<div class="col-md-8">
		<h1>Recent Questions</h1>

		<% @questions.each do |question| %>
			<div class="media">
	      <div class="media-body">
	        <h4 class="media-heading">
		  			<p><%= link_to question.title, question_path(question.id) %></p>
		  			 <%question.increment%> <!-- View counter -->
		  			<hr/>
		  		</h4>

		  		<!-- Answer Loop - Start -->
		  		<!-- Attempt No 1 - Start -->
		  		~~~Attempt 1 - Start~~~
	        <%= Vote.group(:answer_id).order('answer_id DESC').sum(:value)%>
	        
	        <%y = question.answers.select(:id).uniq.to_ary%>
	        
	        <% z = Vote.group(answer_id: question.answers) %>
	        <br/>
	        This is z <%= z %>
	        <br/>
	        This is y <%= y%>
	        <br/>~~~Attempt 1- End~~~<br/>
					<!-- Attempt No 1 - End -->

					<!-- Attempt No 2 - Start -->
					~~~Attempt 2 - Start~~~
	        <% answer_votes = [] %>
	        <% question.answers.each do |a| %>
	        	<% answer_votes << {a.id => Vote.where(answer_id: a.id).sum(:value)} %>
	        	<br/>
	        	Answer Number <%= a.id %>
	        	<br/>
	        	Answer Votes <%= Vote.where(answer_id: a.id).sum(:value)%>
	 	 				<br/>
	        <% end %>
	        <br/>
	        Votes array <%= answer_votes %>
	        <br/>~~~Attempt 2 - End~~~ <br/>
	        <!-- Attempt 2 - End -->

	        <!-- Attempt 3 - Start -->
	        ~~~Attempt 3 - Start~~~
	        <% most_votes = -1 %>
	        <% most_vote_id = [] %>

	        <% question.answers.each do |a| %>
	        	<%if Vote.where(answer_id: a.id).sum(:value) > most_votes %>
	        		<%most_votes=Vote.where(answer_id: a.id).sum(:value)%>
	        		<%most_vote_id=a.id%>
	        	<%end%>
	        <% end %>
	        <br/>
	        Most Votes <%= most_votes %>
	        Most Votes ID <%= most_vote_id %>
	        <%=question.answers.first%>

	        <%= render 'answers/form', answer: Answer.find(most_vote_id) %> <!-- If I replace most_vote_id with a number it works -->
	        
	        <br/>~~~Attempt 3 - End~~~<br/>
	        <!-- Attempt 3 - End-->

	        <!-- Answer Loop - End -->
	        
		        <div class="container">
			        <div class="row">
				        <%= button_to "Answer Question", new_question_answer_path(question.id), method: :get, class: 'btn btn-default btn-xs' %>
				        <small><%= question.answers.count %> Answers</small>
			      	</div> <!-- row -->
	      	</div><!-- containter -->
	      </div> <!-- Media Body -->
	   	</div> <!-- Media -->
		<% end %>
	</div> <!-- col-md-8 -->
</div> <!-- containter -->