<div class="container">
	<div class="col-md-8">
		<h1>Recent Questions</h1>

		<% @questions.each do |question| %>
			<div class="media">
	      <div class="media-body">
	        <h4 class="media-heading">
		  			<p><%= link_to question.title, question_path(question.id) %></p>
		  			 <%question.increment%> <!-- View counter -->
		  			<hr/>
		  		</h4>

<<<<<<< HEAD
		  		<!-- Answer Sorted with Most Votes - Start - Best Method -->
					<% ans = question.answers.sort {|a, b| b.points <=> a.points}.first %>
					<% if ans %>
						<%= render 'answers/form', answer: ans %>
					<%end%>
					<!-- Answer Sorted with Most Votes - End -->

		  		<!-- Answer Sorted with Most Votes - Start - Redundent to use Answer.find -->
					<% ans = question.answers.sort {|a, b| b.points <=> a.points}.first %>
					<% if ans %>
						 <%= render 'answers/form', answer: Answer.find(ans) %>
					<%end%>
					<!-- Answer Sorted with Most Votes - End -->

=======
		  		<!-- Answer Loop - Start -->
 				  <%= render question.answers.first %>
	        <!-- Answer Loop - End -->
>>>>>>> 0136e67c7afd5fe98e1b9defc59b892fb15a2852

		        <div class="container">
			        <div class="row">
				        <%= button_to "Answer Question", new_question_answer_path(question.id), method: :get, class: 'btn btn-default btn-xs' %>
				        <small><%= question.answers.count %> Answers</small>
			      	</div> <!-- row -->
	      	</div><!-- containter -->
	      </div> <!-- Media Body -->
	   	</div> <!-- Media -->
		<% end %>
	</div> <!-- col-md-8 -->
</div> <!-- containter -->
