<div class="container">
	<div class="col-md-8">
		<h1>Recent Questions</h1>

		<% @questions.each do |question| %>
			<div class="media">
	      <div class="media-body">
	        <h4 class="media-heading">
		  			<p><%= link_to question.title, question_path(question.id) %></p>
		  			 <%question.increment%> <!-- View counter -->
		  			<hr/>
		  		</h4>

		  		<!-- Answer Loop - Start -->

	        <%= Vote.group(:answer_id).order('answer_id DESC').sum(:value)%>

	        <%y = question.answers.select(:id).uniq.to_ary%>

	        <% z = Vote.group(answer_id: question.answers) %>
	        <br/>
	        This is z <%= z %>
	        <br/>
	        This is y <%= y%>
					<!-- ~~~ -->
	        <% answer_votes = [] %>
					<% answers = question.answers.sort {|a, b| b.points <=> a.points} %>

	        <%= render 'answers/form', answer: Answer.find(answers.first) %>

	        <!-- ~~~ -->

	        <!-- Answer Loop - End -->

		        <div class="container">
			        <div class="row">
				        <%= button_to "Answer Question", new_question_answer_path(question.id), method: :get, class: 'btn btn-default btn-xs' %>
				        <small><%= question.answers.count %> Answers</small>
			      	</div> <!-- row -->
	      	</div><!-- containter -->
	      </div> <!-- Media Body -->
	   	</div> <!-- Media -->
		<% end %>
	</div> <!-- col-md-8 -->
</div> <!-- containter -->
