<div class="row">
  <div class="col-md-8">
		<h1>Ask A Question</h1>

		<%= form_for @question do |f| %>
		  <div class="form-group">
			  <%= f.label "Question" %>
			  <%= f.text_field :title, class: 'form-control', placeholder: "Enter Question"  %>
			</div>

			<div class="form-group">
			  <%= f.label "Optional - You Can Enter Additional Detail (If Needed)" %>
			  <%= f.text_area :body, rows: 4, class: 'form-control', placeholder: "Additional Detail" %>
		 	</div>


		<div class="field">
    <%= f.label "Anonymous" %> <br />
    <%= f.check_box :anonymous %> <br />
		</div>

		<div class="field">
    <%= f.label "Public" %> <br />
    <%= f.check_box :public %> <br />
		</div>

		 	<div class="form-group">
		  	<%= f.submit "Save", class: 'btn btn-primary' %>
		  </div>
		 <% end %>
	</div> <!-- col-md-8 -->
</div> <!-- row -->