<div class="row">
  <div class="col-md-8">
		<h1>Ask A Question</h1>

		<%= form_for @question do |f| %>
		  <div class="form-group">
			  <%= f.label "Question" %>
			  <%= f.text_field :title, class: 'form-control', placeholder: "Enter Question"  %>
			</div>

			<div class="form-group">
			  <%= f.label "Optional - You Can Enter Additional Detail (If Needed)" %>
			  <%= f.text_area :body, rows: 4, class: 'form-control', placeholder: "Additional Detail" %>
		 	</div>

			<div class="form-group">
		    <%= f.label "Ask your questions anonymously" %>
		    <%= f.check_box :anonymous %>
			</div>
			<hr/>
			<h3>Limit Responses</h3>
			<br/>
			<div class="form-group">
	 			<div class="form-inline">
	 				<label>Limit responses by age</label>
	  			<span class="confirminput"><%= f.select :agelimit, [['Age Group', 'none'],'Under 20', '20-30', '30-40', '40-50', '50-60', 'Over 60'], :selected => 'Age Group'%></span>
	 			</div><!-- Form Inline -->
	 		</div>
	 		<div class="form-group">
	 			<div class="form-inline">
	 				<label>Limit responses by gender</label>
	  			<span class="confirminput"><%= f.select :genderlimit, [['Gender', 'none'],['Male','male'],['Female','female']], :selected => 'Gender' %></span>
	 			</div><!-- Form Inline -->
			</div><!-- Form Group -->
			<br/>
		 	<div class="form-group">
		  	<%= f.submit "Save", class: 'btn btn-primary' %>
		  </div>
		 <% end %>
	</div> <!-- col-md-8 -->
</div> <!-- row -->