<div class="container">
  <div class="col-md-8">
		<!-- Labels / Categories - Start -->
		<br/>
		<%= render partial: "labels/list", locals: { labels: @question.labels } %>
		<!-- Labels / Categories - End -->

		<!-- Question - Start -->
		<h1><%= @question.title %></h1>
		<p><%= @question.body %></p>

		<% if policy(@question).edit? %>
			<%= link_to "Edit Question", edit_question_path(@question), class: 'btn btn-default btn-xs' %>
		<% end %>
		<p>Question Views: <%= @question.views %></p>
	  <div class="container">
      <div class="row">
        <p class = "table-inline"><%= button_to "Answer Question", new_question_answer_path(@question.id), method: :get, class: 'btn btn-default btn-xs' %></p>
        <p><%= "#{@question.answers.count} Answers" %></p>
    	</div> <!-- row -->
  	</div><!-- containter -->
		<!-- Question - End -->

		<!-- Answers - Start -->
		<% @question.answers.each do |a| %> 
		<div class="answerline">
			<div class="answerinside">
        <% if a %>
 				  <%= render a %>
 				<% end %>
				</div>
			</div>
				
			<% if current_user.present? && current_user.id == @answer.user_id%>
				<%= link_to 'Edit My Answer', edit_question_answer_path(answer, :question_id => answer.question_id)%>
			<%end%>
		<% end %>
		<!-- Answers - End -->

  </div> <!-- col-md-8 -->
</div> <!-- container -->