<div class = "index container">
	<h2 class="text-center indextitle">Community Advice For Relationships </h2>
	<div class="row">

		<div class="col-md-3 col-md-offset-2 leftbox">
			<ul>
				<span class="boxtitle">Popular Topics</span>
				<li><%= link_to "Dating" %></li>
				<li><%= link_to "Breaking-up" %></li>
				<li><%= link_to "Marriage" %></li>
				<li><%= link_to "First Date" %></li>
				<li><%= link_to "Valentines" %></li>
				<li><%= link_to "Kids" %></li>
				<br>
				<li><%= link_to "Browse All", questions_path %></li>
			</ul>
		</div>

		<div class="rightbox col-md-5">
			<div class ="col-md-6">
				<ul>
				<span class ="boxtitle">Login</span>
				<li><%= link_to '<i class="fa fa-facebook-square"></i> Login with Facebook'.html_safe, user_omniauth_authorize_path(:facebook) %></li>
				<li><%= link_to '<i class="fa fa-google"></i> Login with Google'.html_safe, user_omniauth_authorize_path(:google_oauth2) %></li>
				<li><%= link_to '<i class="fa fa-twitter"></i> Login with Twitter'.html_safe %></li>
				<li><%= link_to '<i class="fa fa-envelope-o"></i> Using Email Address'.html_safe, new_user_registration_path %></li>
				</ul>
			</div>

			<div class ="col-md-4">
						<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
						  <div class="field">
						    <%= f.label :email %><br />
						    <%= f.email_field :email, autocomplete: "off", autofocus: true %>
						  </div>

						  <div class="field">
						    <%= f.label :password %><br />
						    <%= f.password_field :password, autocomplete: "off", autocomplete: "off" %>
						  </div>

						  <% if devise_mapping.rememberable? -%>
						    <div class="field">
						      <%= f.check_box :remember_me %>
						      <%= f.label :remember_me %>
						    </div>
						  <% end -%>

						  <div class="actions">
						    <%= f.submit "Log in" %>
						  </div>
						<% end %>
				</div>
			</div>

	</div>
</div>