<!DOCTYPE html>
<html>
<head>
  <title>Luvlives</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
   <ul class="nav nav-tabs">
        <li><%= link_to image_tag("LuvLives-Logo-Final.png"), welcome_index_path%></li>

        <div class="pull-right navtext">
          <ul class="nav" role="navigation">
          
          <%= link_to "Home", welcome_index_path %>
          <%= link_to "About", welcome_about_path %>
          <% if current_user %>
            <%= current_user.email %>! | <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          <% else %>

          <li class = "explore pull-right">
          <%= link_to 'Guest <b class="caret"></b>'.html_safe, root_path, :id => 'setupdrop', :'data-toggle' => 'dropdown', :class => 'dropdown-toggle' %>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                <li class="dropdown-link"><%= link_to "Sign In", new_user_session_path %></li>
                <li class="dropdown-link"><%= link_to "Sign Up", new_user_registration_path %></li>
              </ul>
          </li>
          </ul>


           <% end %>
        </div>
   </ul>
	<%= yield %>
	</div>

</body>
</html>
