<!DOCTYPE html>
<html>
<head>
  <title>Luvlives</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
<!-- ~~~~ Horizontal Nav Bar - Start ~~~~ -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- Not sure what this does -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <!-- ~~~~ ~~~~ -->
        <% if current_user %>
          <a><%= link_to image_tag("LuvLives-Logo-Final.png"), questions_path%></a>
        <%else%>
          <a><%= link_to image_tag("LuvLives-Logo-Final.png"), root_path%></a>
        <%end%>
      </div>

      <div class="collapse navbar-collapse">
        <!-- Search Box - Start -->
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search Questions">
          </div>
          <button type="submit" class="btn btn-default">Search</button>
        </form>
        <!-- Search Box - End -->
        <ul class="nav navbar-nav navbar-right">

          <li><%= link_to '<i class="fa fa-question-circle"></i> Ask'.html_safe, new_question_path %></li>
          <li><%= link_to '<i class="fa fa-book"></i> Read'.html_safe, questions_path %></li>
          <!-- Navbar Dropdown Menu - Start -->
          <% if current_user %>
            <li class = "explore pull-right">
            <%= link_to '<i class="fa fa-user"></i>'" #{(current_user.name)}"'<b class="caret"></b>'.html_safe, root_path, :id => 'setupdrop', :'data-toggle' => 'dropdown', :class => 'dropdown-toggle'%>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                  <li class="dropdown-link"><%= link_to "Profile", user_path(current_user) %></li>
                  <li class="dropdown-link"><%= link_to "Update Profile", edit_user_registration_path %></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-link"><%= link_to "Sign Out", destroy_user_session_path, method: :delete  %></li>
                </ul>
            </li>
          <% else %>
            <li class = "explore pull-right">
            <%= link_to '<i class="fa fa-user"></i> Guest <b class="caret"></b>'.html_safe, root_path, :id => 'setupdrop', :'data-toggle' => 'dropdown', :class => 'dropdown-toggle' %>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                  <li class="dropdown-link"><%= link_to "Sign In", new_user_session_path %></li>
                  <li class="dropdown-link"><%= link_to "Sign Up", new_user_registration_path %></li>
                </ul>
            </li>
          <% end %> <!-- end of if -->
          <!-- Navbar Dropdown Menu - End -->
        </ul> <!-- nav navbar-nav navbar-right -->
      </div> <!-- navbar-collapse -->
    </div> <!-- container-fluid -->
  </nav>
<!-- ~~~~ Horizontal Nav Bar - End ~~~~ -->
<!-- Flash Error Message - Start -->
<% if flash[:notice] %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:notice] %>
  </div>
<% elsif flash[:error] %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:error] %>
  </div>
<% elsif flash[:alert] %>
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:alert] %>
  </div>
<% end %>
<!-- Flash Error Message - End -->
<!-- ~~~~ Vertical Nav Bar - Start ~~~~ -->
  <div class="container">
    <div class="row">
      <div class="col-md-2 sidebar">
        <%if Label.count >=5 %>
        <h5>Popular Categories</h5>
        <ul class="nav-stacked">
          <% (0..4).each do |i| %>
            <li><%= link_to Label.where(rank: i).take.name.titleize,label_path(:id =>Label.where(rank: i).take.id) %></li>
          <% end %>
        </ul>
        <br/>
        <%if Question.count >=5 %>
        <h5>Popular Questions</h5>
        <ul class="nav-stacked">
          <% (1..5).each do |i| %>
            <li><%= link_to truncate(Question.popular(i).title, length: 40), question_path(Question.popular(i)) %></li>
            <br/>
          <% end %>
        <%end%>

        </ul>
        <% end %>
      </div> <!-- col-md-2 - Vertical Nav Bar -->
  <!-- ~~~~ Vertical Nav Bar - End ~~~~ -->
  	<div class="yieldarea">
      <%= yield %>
    </div>
    </div> <!-- Vertical Nav Bar - Row -->
  </div> <!-- Vertical Nav Bar - Container -->
	</div> <!-- Body Container -->
</body>
</html>
